<div class="span12">
  <%= render "common/user_nav" %>

  <table class="table">
    <thead>
      <tr>
        <td>
          Content
        </td>
        <td>
          Group name
        </td>
        <td>
          Last Update
        </td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <p><%= render_post_content(post) %></p>
          </td>
          <td>
            <%= render_group_title(post.group) %>
          </td>
          <td>
            <%= render_post_updated_at(post) %>
          </td>
          <td>
            <%= link_to("Edit", edit_group_post_path(post.group, post), class: "btn btn-mini")%>
            <%= link_to("Delete", group_post_path(post.group, post), class: "btn btn-mini", method: :delete, confirm: "Are you sure?" ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
