<div class="member pull-right">
  <%= render_group_join_quit_button(@group) %>
</div>

<div class="span12">
  <div class="group pull-right">
    <%= link_to("Back", groups_path , class: "btn btn-mini") %>
    <%= render_group_manage_button(@group) %> /
    <%= render_new_post_button_of_group(@group) %>
  </div>

  <h2> <%= render_group_title(@group) %> </h2>
  <p> <%= @group.description %> </p>

  <table class="table">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <span class="author">
              <strong> Author : <%= post.author.name %> </strong>
            </span>
            <p><%= render_post_content(post) %></p>
          </td>
          <td>
            <%= render_post_manage_button(@group, post) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
